.popup__input {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  min-height: 27px;
  margin-bottom: 30px;
}

.popup__input:nth-of-type(2n) {
  margin-bottom: 0;
}
