.popup__sub-button {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background: #000000;
  border-radius: 2px;
  border: none;
  margin: 48px 0 37px;
  max-width: 358px;
  width: 100%;
  min-height: 50px;
  padding: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.popup__sub-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 504px) {
  .popup__sub-button {
    font-size: 14px;
    line-height: 17px;
    max-width: 238px;
    min-height: 46px;
    margin-top: 45px;
    margin-bottom: 25px;
  }
}
